body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #f4f4f9;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.operators {
    margin: 15px 0;
}

button { 
    background-color: #333; color: gold; 
}

button:hover {
    background-color: #313131;
}

#result {
    font-size: 20px;
    color: #333;
}